@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal custom CSS for blink animation */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0.5;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}
